@layout("layouts/app")

@section("helpers")

@endsection

@section("content")
	<div class="container my-5">
		<h1 class="text-center">HTMLJAR</h1>
		<p class="text-center">Frontend engine mix with semi backend system</p>
		<br>
	</div>
@endsection
